# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/bg-removal

# Clerk Auth
CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# ClipDrop API (for background removal)
CLIPDROP_API=your_clipdrop_api_key_here

# Razorpay (Payment)
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# App
PORT=4000
CURRENCY=inr
